<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - Responsive Login Form</title>
    <link rel="stylesheet" href="./css/login.css" />
  </head>

  <body>
    <!-- partial:index.partial.html -->
    <% var error %>
    <h1>Admin Registration</h1>
    <form action="/Adminsignup" method="POST">
      <div class="row">
        <label for="name" required>Name</label>
        <input
          type="text"
          name="name"
          autocomplete="off"
          placeholder="enter name.."
        />
      </div>
      <% if(error) { %> <%= error %> <% } %>
      <div class="row">
        <label for="email" required>Email</label>
        <input
          type="email"
          name="email"
          autocomplete="off"
          placeholder="email@example.com"
        />
      </div>
      <div class="row">
        <label for="password">Password</label>
        <input type="password" name="password" required />
      </div>
      <button type="submit">Login</button>
    </form>
    <a href="/Adminlogin" style="text-decoration: none"
      >Already User? Login now</a
    >
    <!-- partial -->
  </body>
</html>
